*{
    padding: 0;
    margin: 0;
}

body, html{
    min-height: 100%;
}

body{

    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    color: gray;
    background:  url('./images/bg-top.svg') right top no-repeat, url('./images/bg-bottom.svg') left bottom no-repeat, hsl(240, 78%, 98%); 
    background-size: 200px, 200px;

}

.container{
    padding: 5% 10%;
    color: hsl(233, 13%, 49%);
    
}

/*---------------- top container--------------- */
.top-container{
    margin: 2% 5% 5% 5%;
    text-align: center;
    
}

.title{
    font-size: 2rem;
}

.pricing-type{
    display: flex;
    width: 30%;
    margin: 2% auto;
    justify-content: center;
}

.type{
flex: 10%;
}
/*---------------- main container -------------*/
.main-container{
    display: flex;
    flex-direction: row;
}

.card-basic,.card-master{
    box-sizing: border-box;
    flex: 30%;
    padding: 5%;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    z-index: 10;

}

.card-title{
    margin: 5% auto;
}

/* .card-master{
    background-color: bisque;
}
.card-basic{
    background-color: aquamarine;
} */
.card-pro{
    box-sizing: border-box;
    flex: 30%;
    padding: 7% 5%;
    text-align: center;
    /* background-color: hsl(236, 72%, 79%); */
    border-radius: 10px;
    margin-top: -2%;
    margin-bottom: -2%;
    color: hsl(240, 78%, 98%);
    background-image: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%)) ;

}



/* ----------detail in card------------------- */

.pricing{
    font-size: 3rem;
    margin: 10%;
}


p{
    margin: 5%;
}

hr{
    color: hsl(240, 78%, 98%);
}

button{
    background-color: hsl(236, 72%, 79%);
    border-radius: 5px;
    padding: 3%;
    border: solid 1px hsl(240, 78%, 98%);
    margin: 10% auto;
    width: 100%;
    font-weight:700;
    text-transform: uppercase;
}

.btn{
    background-image: linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%)) ; 
    color:  hsl(240, 78%, 98%);
}

.btn-pro{
    background-color: white;
    color:  hsl(237, 63%, 64%);
}

/* ---------toggle switch --------------------*/
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
    display: inline;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 20px;
	background: hsl(237, 63%, 64%);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.1s;
}

input:checked + label {
	background: hsl(236, 72%, 79%);
}

input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

label:active:after {
	width: 15px;
}

/* ------------------------------------------------------------------- */
@media (max-width: 376px) {
    /* For mobile phones: */
    .main-container{
        flex-direction: column;
    }

    .card{
        flex: 100%;
        margin: 5%;
    }

    .card-pro{
        flex: 100%;
        margin: 5%;
    }

    .pricing-type{
        display: flex;
        width: 80%;
        margin: 2% auto;
    }
    
    .title{
        font-size: 2rem;
    }
  }
  